In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
Lineal = pd.read_csv("../Fase 2/Dataset Regresión lineal/data.csv")

In [3]:
Lineal.head(5)

   metro  precio
0      5     375
1     15     487
2     20     450
3     25     500

In [4]:
Lineal_i = pd.read_csv(filepath_or_buffer = "/Users/Crist/Desktop/Universidad/6 Semestre/Analisis de datos/Fase 2/Dataset Regresión lineal/data.csv")

In [5]:
Lineal_i.head(1)

   metro  precio
0      5     375

In [6]:
mainpath = "/Users/Crist"
filename ="Desktop/Universidad/6 Semestre/Analisis de datos/Fase 2/Dataset Regresión lineal/data.csv"
fullpath = os.path.join(mainpath,filename)

In [7]:
Lineal_ii = pd.read_csv(fullpath)

In [8]:
Lineal_ii.head(2)

   metro  precio
0      5     375
1     15     487